.theme__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.theme__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  button {
    background-color: transparent;
    padding: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-radius: 0.5rem;
    width: 3rem;
    height: 2rem;
    span {
      width: 2rem;
      height: 1rem;
      border-radius: 0.25rem;
      box-shadow: inset 0 -5px 10px rgba(0, 0, 0, 0.15);
    }
    &:hover {
      border: 2px solid rgba(255, 255, 255, 0.75);
    }
  }
}
