<p-sidebar
  size="p-sidebar-lg"
  position="right"
  [(visible)]="sidebarService.sidebarVisible"
  styleClass="w-220rem"
>
  <ng-template pTemplate="header">
    <div class="flex gap-2 align-items-center">
      @if (!showMenu) {
      <p-button
        icon="pi pi-chevron-left"
        severity="secondary"
        size="small"
        [text]="true"
        (click)="showConfigClick()"
      />
      } @switch (currentMenu) { @case ('home') {
      <h3>{{ "sidebar.header_home" | translate }}</h3>
      } @case ('config') {
      <h3>{{ "sidebar.header_config" | translate }}</h3>
      } @case ('notification') {
      <h3>{{ "sidebar.header_notification" | translate }}</h3>
      } @case ('units') {
      <h3>{{ "sidebar.header_units" | translate }}</h3>
      } @case ('themes') {
      <h3>{{ "sidebar.header_themes" | translate }}</h3>
      } @case ('icons') {
      <h3>{{ "sidebar.header_icons" | translate }}</h3>
      } @case ('lang') {
      <h3>{{ "sidebar.header_lang" | translate }}</h3>
      } }
    </div>
  </ng-template>
  @if(showMenu){
  <div class="sidebar__container">
    <div>
      <app-searchbar />
      <app-favs />
    </div>
    <div class="sidebar__container-btn">
      @if (true) {
      <p-button
        label="{{ 'sidebar.login' | translate }}"
        severity="info"
        styleClass="w-full"
        [outlined]="true"
        (click)="showModalClick()"
      />
      } @else {
      <p-button
        label="{{ 'sidebar.signOut' | translate }}"
        severity="info"
        styleClass="w-full"
        [outlined]="true"
        (click)="signOut()"
      />
      }
      <p-button
        label="{{ 'sidebar.config' | translate }}"
        severity="secondary"
        styleClass="w-full"
        [outlined]="true"
        (click)="showConfigClick()"
      ></p-button>
      <p-button
        label="{{ 'sidebar.help' | translate }}"
        severity="secondary"
        styleClass="w-full"
        [outlined]="true"
        [routerLink]=""
      ></p-button>
    </div>
  </div>
  } @else {
  <div class="h-100 flex flex-column gap-3">
    @if (configMenu) { @for (item of btnConfig; track $index) {
    <p-button
      styleClass="w-full"
      [icon]="item.icon"
      [label]="item.label"
      [disabled]="item.disabled"
      [outlined]="true"
      (click)="showMenuConfigClick(item.config)"
    />
    } } @else { @switch (dynamicConfig) { @case ('notifications') {
    <app-notifications />
    } @case ('units') {
    <app-units />
    } @case ('themes') {
    <app-themes />
    } @case ('icons') {
    <app-icons />
    } @case ('lang') {
    <app-lang />
    } } }
  </div>
  }
</p-sidebar>
