<div class="flex justify-content-between h-23rem border-1 border-primary border-round p-3 md:p-5">
  @if (loaderService.isLoading$ | async) {
    <div class="flex w-full">
      <div class="col-6">
        <p-skeleton styleClass="mb-6 w-12 md:w-9 h-6rem" />
        <p-skeleton styleClass="mb-4 w-12 md:w-4" />
        <p-skeleton styleClass="mb-2 w-12 md:w-5" />
        <p-skeleton styleClass="mb-4 w-12 md:w-5" />
        <p-skeleton styleClass="mb-2 w-12 md:w-7" />
      </div>
      <div class="col-6">
        <p-skeleton width="100%" height="100%" />
      </div>
    </div>
  } @else {
    <div class="w-50">
      <p class="text-6xl md:text-8xl white-space-nowrap m-0">
        {{ data().current.temp | temperatureUnit: this.unitsService.temperatureUnit() }}
      </p>
      <p class="text-lg font-light text-color-secondary">
        {{ currentDate | date: "EEEE, MMMM d" }}
      </p>
      <h1 class="text-2xl font-semibold">{{ geoData().country_name }}, {{ geoData().city }}</h1>
      <p class="text-lg font-light text-color-secondary">
        {{ "weather_current.today" | translate }} -
        {{ "weather_description." + data().current.weather[0].id | translate }}
        <br />
        {{ "weather_current.temp_max" | translate }}
        {{ data().daily[0].temp.max | temperatureUnit: this.unitsService.temperatureUnit() }},
        {{ "weather_current.temp_min" | translate }}
        {{ data().daily[0].temp.min | temperatureUnit: this.unitsService.temperatureUnit() }}.
      </p>
    </div>
    <div class="w-50 flex justify-content-end">
      <img
        class="w-full"
        [src]="
          iconsService.searchWeatherIcon(data().current.weather[0].id)
            | IconDynamic: iconsService.iconsFolder()
        "
        [alt]="'icono de ' + data().current.weather[0].main"
      />
    </div>
  }
</div>
