@if (weatherData$ | async; as weather) {
  <swiper-container class="mySwiper" navigation="true" slides-per-view="5" space-between="16">
    @for (item of weather.daily; track $index) {
      <swiper-slide
        class="border-1 border-primary border-round p-3 flex flex-column"
        style="background-color: transparent"
      >
        <p class="text-center">{{ item.dt | UnixTimestamp | date: "EEEE, MMMM d" }}</p>
        <img
          class="w-full"
          [src]="iconsService.searchWeatherIcon(item.weather[0].id, true) | IconDynamic: iconsService.iconsFolder()"
          [alt]="'icono de ' + item.weather[0].main"
        />
        <p class="text-center">{{ item.temp.day | temperatureUnit: unitsService.temperatureUnit() }}</p>
        <p class="text-center capitalize">{{ item.weather[0].description }}</p>
      </swiper-slide>
    }
  </swiper-container>
}
