<p-dialog
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [blockScroll]="true"
  [(visible)]="modalService.loginModal"
  (onHide)="changeFormClick('login')"
>
  <ng-template pTemplate="header">
    <div class="flex align-items-center gap-2">
      @if (currentForm() === "recovery") {
        <p-button
          icon="pi pi-chevron-left"
          size="small"
          [text]="true"
          (onClick)="changeFormClick('login')"
        />
      }
      <span class="font-bold white-space-nowrap">{{ currentForm() + ".title" | translate }}</span>
    </div>
  </ng-template>
  <div class="flex flex-column p-2 max-w-30rem w-screen">
    @switch (currentForm()) {
      @case ("recovery") {
        <form [formGroup]="recovery_form">
          <div class="flex flex-column gap-3 h-20rem">
            <i class="pi pi-lock text-center text-color-secondary text-8xl"></i>
            <p>{{ "recovery.email_description" | translate }}</p>
            <div>
              <span class="p-float-label mt-3 mb-2">
                <input
                  pInputText
                  pAutoFocus
                  type="text"
                  id="email_recovery"
                  class="w-full"
                  name="email_recovery"
                  autocomplete="email"
                  formControlName="email_recovery"
                  [autofocus]="true"
                  [style]="{ width: '100%' }"
                />
                <label for="email_recovery">{{ "login.placeholder_email" | translate }}</label>
              </span>
              @if (
                recovery_form.get("email_recovery")?.invalid &&
                recovery_form.get("email_recovery")?.touched
              ) {
                <small
                  class="p-error block"
                  *ngIf="recovery_form.get('email_recovery')?.errors?.['required']"
                >
                  {{ "login" + ".error_msg_email_required" | translate }}
                </small>
              }
            </div>
          </div>
          <p-button
            styleClass="w-full"
            [label]="'recovery.email_submit' | translate"
            (onClick)="sendRecoveryEmailClick()"
          />
        </form>
      }
      @case ("recovery_description") {
        <div class="flex flex-column justify-content-between gap-3 h-20rem">
          <i class="pi pi-envelope text-center text-color-secondary text-8xl"></i>
          <p>{{ "recovery.email_submit_description" | translate }}</p>
          <p-button
            styleClass="w-full"
            [label]="'recovery.return' | translate"
            (onClick)="changeFormClick('login')"
          />
        </div>
      }
      @default {
        <form class="flex flex-column gap-5" [formGroup]="form">
          <div class="flex flex-column">
            <span class="p-float-label mt-3 mb-2">
              <input
                pInputText
                pAutoFocus
                type="text"
                id="email"
                class="w-full"
                name="email"
                autocomplete="email"
                formControlName="email"
                [autofocus]="true"
                [style]="{ width: '100%' }"
              />
              <label for="email">{{ "login.placeholder_email" | translate }}</label>
            </span>
            @if (form.get("email")?.invalid && form.get("email")?.touched) {
              <small class="p-error block" *ngIf="form.get('email')?.errors?.['required']">
                {{ currentForm() + ".error_msg_email_required" | translate }}
              </small>
              <small class="p-error block" *ngIf="form.get('email')?.errors?.['email']">{{
                currentForm() + ".error_msg_email_invalid" | translate
              }}</small>
            }
          </div>
          <div class="flex flex-column">
            <span class="p-float-label mb-2">
              <p-password
                type="password"
                class="w-full"
                inputId="password"
                formControlName="password"
                [toggleMask]="true"
                [feedback]="!isLoginForm()"
                [weakLabel]="'register.weakLabel' | translate"
                [promptLabel]="'register.promptLabel' | translate"
                [mediumLabel]="'register.mediumLabel' | translate"
                [strongLabel]="'register.strongLabel' | translate"
                [autocomplete]="isLoginForm() ? 'current-password' : 'new-password'"
                [style]="{ width: '100%' }"
                [inputStyle]="{ width: '100%' }"
              >
                <ng-template pTemplate="footer">
                  <p-divider></p-divider>
                  <p class="mt-2">Debe contener:</p>
                  <ul class="m-0 p-0 list-none" style="line-height: 1.75">
                    @for (item of passwordRequirements; track $index) {
                      <li class="flex align-items-center gap-2">
                        <i
                          class="pi"
                          [ngClass]="item.valid ? 'pi-check' : 'pi-times'"
                          [ngStyle]="{ color: item.valid ? 'green' : 'red' }"
                        ></i>
                        {{ "register." + item.validator | translate }}
                      </li>
                    }
                  </ul>
                </ng-template>
              </p-password>
              <label for="password">{{ "login.placeholder_password" | translate }}</label>
            </span>
            @if (form.get("password")?.invalid && form.get("password")?.touched) {
              <small class="p-error block" *ngIf="form.get('password')?.errors?.['required']">
                {{ currentForm() + ".error_msg_password_required" | translate }}
              </small>
              <small class="p-error block" *ngIf="form.get('password')?.errors?.['minLength']">
                {{ currentForm() + ".error_msg_password_minLength" | translate }}
              </small>
              @if (currentForm() === "register") {
                @for (item of passwordRequirements; track $index) {
                  <small class="p-error block" *ngIf="!item.valid">
                    {{ item.message | translate }}
                  </small>
                }
              }
            }
            <!-- Forgtot btn only shown upon login -->
            @if (isLoginForm()) {
              <p-button
                class="align-self-end mt-2"
                size="small"
                label="{{ 'login.forgot_btn' | translate }}"
                [link]="true"
                (onClick)="changeFormClick('recovery')"
              />
            }
          </div>
          <div class="flex flex-column gap-3">
            <!-- Submit Btn -->
            <p-button
              label="{{ currentForm() + '.submit_btn' | translate }}"
              styleClass="w-full"
              [severity]="currentForm() === 'login' ? 'primary' : 'warning'"
              (onClick)="isLoginForm() ? loginWithEmailClick() : registerWithEmailClick()"
            />
            <p-divider layout="horizontal" />
            <!-- Google Btn -->
            <p-button
              label="{{ 'login.google_btn' | translate }}"
              styleClass="w-full text-color"
              [outlined]="true"
              icon="pi pi-google"
              (onClick)="loginWithGoogleClick()"
            />
            <!-- Switch sign-in | sign-up btn -->
            <div class="flex justify-content-center align-items-center gap-2 mt-5">
              <p class="m-0">{{ currentForm() + ".switch_text" | translate }}</p>
              <p-button
                size="small"
                label="{{ currentForm() + '.switch_btn' | translate }}"
                [text]="true"
                [style]="{ padding: '0.45rem' }"
                [severity]="currentForm() === 'login' ? 'warning' : 'primary'"
                (onClick)="changeFormClick(isLoginForm() ? 'register' : 'login')"
              />
            </div>
          </div>
        </form>
      }
    }
  </div>
</p-dialog>
