<p-dialog
  header="{{ currentForm + '.title' | translate }}"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [blockScroll]="true"
  [(visible)]="modalService.openModal"
  (onHide)="changeFormClick('login')"
>
  <div class="flex flex-column p-2 max-w-30rem w-screen">
    <form class="flex flex-column gap-6" [formGroup]="form">
      <div class="flex flex-column">
        <span class="p-float-label mt-3">
          <input
            pInputText
            pAutoFocus
            type="text"
            class="w-full"
            name="email"
            autocomplete="email"
            formControlName="email"
            [autofocus]="true"
            [style]="{ width: '100%' }"
          />
          <label for="email">{{ "login.placeholder_email" | translate }}</label>
        </span>
        @if (false) {
          <span class="ml-2 mt-2 text-red-400 font-medium">ERROR 00000000000</span>
        }
      </div>
      <div class="flex flex-column">
        <span class="p-float-label">
          <p-password
            type="password"
            class="w-full"
            inputId="password"
            formControlName="password"
            [toggleMask]="true"
            [feedback]="!isLoginForm()"
            [weakLabel]="'register.weakLabel' | translate"
            [promptLabel]="'register.promptLabel' | translate"
            [mediumLabel]="'register.mediumLabel' | translate"
            [strongLabel]="'register.strongLabel' | translate"
            [autocomplete]="isLoginForm() ? 'current-password' : 'new-password'"
            [style]="{ width: '100%' }"
            [inputStyle]="{ width: '100%' }"
          >
            <ng-template pTemplate="footer">
              <p-divider></p-divider>
              <p class="mt-2">Debe contener:</p>
              <ul class="m-0 p-0 list-none" style="line-height: 1.75">
                @for (item of passwordRequirements; track $index) {
                  <li class="flex align-items-center gap-2">
                    <i
                      class="pi"
                      [ngClass]="item.valid ? 'pi-check' : 'pi-times'"
                      [ngStyle]="{ color: item.valid ? 'green' : 'red' }"
                    ></i>
                    {{ "register." + item.validator | translate }}
                  </li>
                }
              </ul>
            </ng-template>
          </p-password>
          <label for="password">{{ "login.placeholder_password" | translate }}</label>
        </span>
        @if (false) {
          <span class="ml-2 mt-2 text-red-400 font-medium">ERROR 00000000000</span>
        }
        @if (isLoginForm()) {
          <p-button
            class="align-self-end mt-2"
            size="small"
            label="{{ 'login.forgot_btn' | translate }}"
            [link]="true"
          />
        }
      </div>
      <div class="flex flex-column gap-3">
        <p-button
          label="{{ currentForm + '.submit_btn' | translate }}"
          styleClass="w-full"
          (click)="isLoginForm() ? loginWithEmailClick() : registerWithEmailClick()"
        />
        <p-divider layout="horizontal" />
        <p-button
          label="{{ 'login.google_btn' | translate }}"
          styleClass="w-full"
          icon="pi pi-google"
          (click)="loginWithGoogleClick()"
        />
        <div class="flex justify-content-center align-items-center">
          <p class="text-center">{{ currentForm + ".switch_text" | translate }}</p>
          <p-button
            size="small"
            label="{{ currentForm + '.switch_btn' | translate }}"
            [link]="true"
            (onClick)="changeFormClick(isLoginForm() ? 'register' : 'login')"
          />
        </div>
      </div>
    </form>
  </div>
</p-dialog>
