$breakpoint-small: 33.75rem;
$breakpoint-medium: 45rem;
$breakpoint-large: 60rem;

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  @media only screen and (min-width: $breakpoint-small) {
    width: 80%;
  }

  @media only screen and (min-width: $breakpoint-large) {
    width: 75%;
    max-width: 65rem;
  }
}
